html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, html {
  height: auto;
  width: auto;
}
  
body{
  color:white;
  /*background: linear-gradient(#090550, #300913);*/
  background-color: #1e1e1e;
  /*font-family: 'Arial Narrow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1,h2,h3,h4,h5{
  font-family: 'Cairo', sans-serif;
}
h1{
  font-size: 2em;
  color: #11FFB8;
}
h2{
  font-size: 1.2em;
  color: #42BFD1;
}
h3{
font-size: 1em;
}
 
/* Font sizes*/
@media screen and (max-width: 1680px) {

  body {
    font-size: 1.3em
  }
  
}

@media screen and (max-width: 1280px) {

  body{
    font-size: 1.2em;
  }

}
@media screen and (max-width: 786px) {

  body {
    font-size: 1em;
  }

}

@media screen and (max-width: 360px) {

  body {
    font-size: 0.9em;
  }

}
  
.wrapper{
  position: relative;
}

.wrapper .inner {
  padding-top: 4em;
  /*max-width: 100%;
  width: 75em;*/  
  min-height: 100vh;  
}

#header {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:left;
  margin: 0 auto;
  padding: 4em 3em 1em 3em;
}

/* General CSS */
ul li{
  list-style-type: none;
}

a, a:visited, a:active{
  text-decoration: underline;
  text-decoration-color:#11FFB8;
  color: white;
}
a:hover{
  color: white;
  background-color: #8c5bffd8;
  text-decoration: none;
}

nav a, .btn a{
  text-decoration: none;
}

 /* Navigation */
 nav {
  background-color: #219572;
  position: fixed;
  top: 0;
}

nav a:hover {
 color: white;
  text-decoration: underline;
  
 }
 #nav-title{
   display: none;
 }

 @media screen and (max-width: 736px){
  nav a {
    text-align: center;
  }
  #nav-title{
    display: block;
  }
 }

 footer{
  font-size: 0.7em;
  padding: 2% 2%;
  text-align: center;
  color:rgb(236, 233, 233);
  border-top: 1px solid rgb(236, 233, 233);

}

/* Home */
#homecontact a{
   margin: 0 3% 0 0;
 }
 
/* About Me */
.about ul li{
  list-style-type: disc;
}

 /* Icons */
 .icons{
  color:white;
}
.icons.major{
  float: left;
  display: block;
  margin: 0 0.5em 0 0;
}

/* Projects */
.card-body{
  padding: 0.8em 1em 1em 0;
  }
  .card{
  background-color: transparent;
  color: white;  
  margin-bottom: 1em;
  border: none;
  }
  .card a{
    text-decoration: none;
  }
  .card a:hover{
    color: white;
    background-color:transparent;
  }
  /* Size image*/
  .card-img-top{
    width: 100%;
    object-fit: cover;
  }
  
@media screen and (min-width: 700px){
  .card-img-top{
    height: 12em;
  }
}
  
  /*Animate image*/
  .card-img-top:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
  }

  @media screen and (max-width: 450px){
    .card-body{
     text-align: center;
      }
  }

  .modal{
    color: black;
  }

  /* Modals */

  .modal {
    overflow-y: auto;
}
/*
.modal-open {
    overflow: auto;
}

.modal-open[style] {
    padding-right: 0px !important;
}
*/
.modal-content {
    background-color: #e6e6e6;
    min-width: 50%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.modal-body{
  text-align: center;
}
.modal-header {
    border: 0;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 300px;
    z-index: 5;
}
.btn{
background-color: #7B42FE;
}
.btn:hover{
  background-color: #6034c7;
}
.btn a:hover{
  background-color: transparent;
}