  /*
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
*/

/*
  body{
        height: 100%;
        width: 100%;
        
        font-size: 16.5pt;
        font-weight: normal;
        line-height: 1.75;
       
  }*/

  * {
    box-sizing: border-box;
  } 
  body, html {
    height: auto;
    width: auto;
  }
  
  body{
    color: #ffffff;
    background: linear-gradient(#07043D, #300913);
    background-color: #0B0536;
    font-family: 'Arial Narrow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h1,h2,h3,h4,h5{
    font-family: 'Cairo', sans-serif;
  }
  h1{
    font-size: 2em;
  }
  h2{
    font-size: 1.5em;
  }
  h3{
  font-size: 1em;
  }
  /*
  h4{
    font-size: 1.5em;
  }
  h5{
    font-size: 1.2em;
  }
  */
 

  /* Font sizes*/
  @media screen and (max-width: 1680px) {
  
    body {
      font-size: 1.3em
    }
    
  }

  @media screen and (max-width: 1280px) {

    body{
      font-size: 1.2em;
    }

  }
  @media screen and (max-width: 786px) {

    body {
      font-size: 1em;
    }

  }

  @media screen and (max-width: 360px) {

    body {
      font-size: 0.9em;
    }

  }
/*
    
    
    @media screen and (max-width: 736px) {
    
      h1 {
        font-size: 2em;
      }
    
      h2 {
        font-size: 1.25em;
      }
    
      h3 {
        font-size: 1em;
      }
    
    }
    

  p{
      font-size: 1em;
  }
 */

  .wrapper{
    position: relative;
  }

  .wrapper .inner {
    padding: 4em 3em 1em 3em;
    max-width: 100%;
    width: 75em;  
    min-height: 100vh;  
  }
  
/*
  @media screen and (max-width:500px){
   .wrapper.inner {
      padding: 4em 2em 1em 2em ;
   }
  }

  @media screen and (max-width: )


    @media screen and (max-width: 1680px) {
  
        .wrapper .inner {
            padding: 4em 4em 2em 4em ;
        }
  
    }
  
    @media screen and (max-width: 1280px) {
  
        .wrapper .inner {
            width: 100%;
        }
  
    }
  
    @media screen and (max-width: 736px) {
  
        .wrapper .inner {
            padding: 3em 2em 1em 2em ;
        }
  
    }  

*/

#header {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:left;
  margin: 0 auto;
  padding: 4em 3em 1em 3em;
}




/***************************************************************************************************/

/* Completed Styling*/





/* General CSS */
ul li{
  list-style-type: none;
}

a, a:visited, a:active{
  text-decoration: underline;
  text-decoration-color: #7B42FE;
  color: white;
}
a:hover{
  color: white;
  background-color: #7B42FE;
}

nav a, .btn a{
  text-decoration: none;
}

 /* Navigation */
 nav {
  background-color: #07043D ;
  position: fixed;
  top: 0;
}

nav a:hover {
  background-color:#7B42FE ;
  text-decoration: none;
 }
 #nav-title{
   display: none;
 }

 @media screen and (max-width: 575px){
  nav a {
    text-align: center;
  }
  #nav-title{
    display: block;
  }
 }



 footer{
  font-size: 0.7em;
  padding: 3% 2%;
  text-align: center;
  color: #ffffffc7;
  background-color: #300913;
}

/* Home */
#homecontact a{
   margin: 0 3% 0 0;
 }
 
/* About Me */
.about ul li{
  list-style-type: disc;
}

 /* Icons */
 .icons{
  color:white;
}
.icons.major{
  float: left;
  display: block;
  margin: 0 0.5em 0 0;
}

/* Projects */
.card-body{
  padding: 0.8em 1em 1em 0;
  }
  .card{
  background-color: transparent;
  color: white;  
  margin-bottom: 1em;
  }
  
  .card a{
    text-decoration: none;
  }
  .card a:hover{
    color: white;
    background-color:transparent;
  }
  /* Size image*/
  .card-img-top{
    width: 100%;
    object-fit: cover;
  }
  /*
@media screen and (min-width: 600px){
  .card-img-top{
   
  }
}*/
  
  /*Animate image*/
  .card-img-top:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
  }

  @media screen and (max-width: 450px){
    .card-body{
     text-align: center;
      }
  }

  .modal{
    color: black;
  }