* {
    box-sizing: border-box;
  } 
  body{
        margin: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #ffffff;
        background-color:#2C2A38;
        font-size: 16.5pt;
        font-weight: normal;
        line-height: 1.75;
  }
  
    @media screen and (max-width: 1680px) {
  
      body {
        font-size: 13pt;
      }
  
    }
  
    @media screen and (max-width: 1280px) {
  
      body{
        font-size: 12pt;
      }
  
    }
  
    @media screen and (max-width: 360px) {
  
      body {
        font-size: 11pt;
      }
  
    }

    h1 {
        font-size: 2.75em;
      }
      
        
      h2 {
        font-size: 1.75em;
      }
      
      h3 {
        font-size: 1.1em;
      }
      
      
      @media screen and (max-width: 736px) {
      
        h1 {
          font-size: 2em;
        }
      
        h2 {
          font-size: 1.25em;
        }
      
        h3 {
          font-size: 1em;
        }
      
      }
      


    p{
        font-size: 1em;
    }
    ul li{
        list-style-type: none;
    }

    a, a:visited, a:active{
        text-decoration: none;
        color: white;
    }
  /* Icons */
.icons{
    color:white;

}

/* Navigation */
nav {
    width: 100%;
    background-color: #312450;
    position: fixed;
    top: 0;
  }
  
  
  nav .nav-btn, #nav-check, #nav-title  {
    display: none;
  }
  nav .nav-links {
    display: block;
    text-align: center;
    font-size: 90%;
  }
  nav a {
    display: inline-block;
    padding: 0.8em 0.6em;
    text-decoration: none;
    margin:0 3%;
  }
  nav a:hover {
    /* color: rgba(255, 255, 255, 0.55);*/
     background-color: #a381f3;
     text-decoration: none;
   }
  
   @media (max-width:600px) {
       
    nav .nav-btn {
      display: inline-block;
      position: absolute;
      margin: 8px 8px;
      right: 0px;

    }
    /*
    nav .nav-btn label {
        display: inline-block;
        font-size: 1em;
        border: 2px solid yellow;
    }*/
 
    nav .nav-links {
      position: absolute;
      width: 100%;
      background-color: #4b367a;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
    }
    nav a {
      display: block;
    }
    nav  #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    nav #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    nav #nav-title {
        display: inline-block;
        font-size: 1.2em;
        color: rgb(247, 231, 255);
        padding: 0.4em 0.4em;
      }
  }

  /* Theme 
  .wrapper {
    position: relative;
  }
  */
  
  .wrapper > .inner {
    padding: 3em 5em 3em 5em ;
    max-width: 100%;
    width: 75em;    
           
  }
  
    @media screen and (max-width: 1680px) {
  
        .wrapper > .inner {
            padding: 4em 4em 2em 4em ;
        }
  
    }
  
    @media screen and (max-width: 1280px) {
  
        .wrapper > .inner {
            width: 100%;
        }
  
    }
  
    @media screen and (max-width: 736px) {
  
        .wrapper > .inner {
            padding: 3em 2em 1em 2em ;
        }
  
    }  

